parameters:
	ignoreErrors:
		-
			message: "#^Class BombenProdukt\\\\XitParser\\\\Document implements generic interface Illuminate\\\\Contracts\\\\Support\\\\Arrayable but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Document.php

		-
			message: "#^Class BombenProdukt\\\\XitParser\\\\DocumentGroup implements generic interface Illuminate\\\\Contracts\\\\Support\\\\Arrayable but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/DocumentGroup.php

		-
			message: "#^Method BombenProdukt\\\\XitParser\\\\DocumentGroup\\:\\:getTitle\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/DocumentGroup.php

		-
			message: "#^Cannot call method toArray\\(\\) on BombenProdukt\\\\XitParser\\\\DocumentItemModifiers\\|null\\.$#"
			count: 1
			path: src/DocumentItem.php

		-
			message: "#^Class BombenProdukt\\\\XitParser\\\\DocumentItem implements generic interface Illuminate\\\\Contracts\\\\Support\\\\Arrayable but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/DocumentItem.php

		-
			message: "#^Class BombenProdukt\\\\XitParser\\\\DocumentItemModifiers implements generic interface Illuminate\\\\Contracts\\\\Support\\\\Arrayable but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/DocumentItemModifiers.php

		-
			message: "#^Parameter \\#1 \\$content of method BombenProdukt\\\\XitParser\\\\ModifierParser\\:\\:parse\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/DocumentParser.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: src/DocumentParser.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|null given\\.$#"
			count: 4
			path: src/DocumentParser.php

		-
			message: "#^Parameter \\$rawContent of class BombenProdukt\\\\XitParser\\\\DocumentItem constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/DocumentParser.php

		-
			message: "#^Cannot call method getDue\\(\\) on BombenProdukt\\\\XitParser\\\\DocumentItemModifiers\\|null\\.$#"
			count: 2
			path: src/DocumentRenderer.php

		-
			message: "#^Cannot call method getHasPriority\\(\\) on BombenProdukt\\\\XitParser\\\\DocumentItemModifiers\\|null\\.$#"
			count: 1
			path: src/DocumentRenderer.php

		-
			message: "#^Cannot call method getPriorityLevel\\(\\) on BombenProdukt\\\\XitParser\\\\DocumentItemModifiers\\|null\\.$#"
			count: 1
			path: src/DocumentRenderer.php

		-
			message: "#^Cannot call method getPriorityPadding\\(\\) on BombenProdukt\\\\XitParser\\\\DocumentItemModifiers\\|null\\.$#"
			count: 1
			path: src/DocumentRenderer.php

		-
			message: "#^Cannot call method getTags\\(\\) on BombenProdukt\\\\XitParser\\\\DocumentItemModifiers\\|null\\.$#"
			count: 2
			path: src/DocumentRenderer.php

		-
			message: "#^Right side of \\|\\| is always true\\.$#"
			count: 1
			path: src/DocumentRenderer.php
